.about {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.about .left {
  text-align: center;
  padding: 1rem;
  flex: 1;
}

.about .left p {
  text-align: start;
  margin: 1.2rem 0;
  width: 100%;
}

.about .right {
  max-width: 700px;
}

.right .image-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right .image {
  max-width: 90%;
  border: 1px solid #333;
  border-radius: 8px;
}

.right .image-stack-bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
}

.btn-container {
  display: flex;
  justify-content: left;
}

.btn {
  margin-right: 1rem;
}

@media screen and (max-width: 1040px) {
  .about .right {
    margin-right: 0.5rem;
  }

  .image {
    min-width: 95%;
    border: 1px solid #333;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .btn.wmdrums-btn {
    margin-right: 0;
  }
}
