.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: rgba(19, 19, 19, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-icon {
  color: #fff;
  margin-right: 1rem;
}

.footer-icon-email {
  margin-left: 1rem;
}

.footer a {
  color: #fff;
}

.email-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

span {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    margin-bottom: 1rem;
  }

  .social-icons {
    flex-direction: row;
    gap: 1rem;
  }
}
