.work-container {
  margin: 1.3rem;
}

.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  text-align: center;
}

.project-card img {
  width: 100%;
}

.show-more {
  color: #007bff;
  font-size: 1.2.rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  text-align: right;
  line-height: 2;
  width: 100%;
}

.show-more:hover {
  color: #0056b3;
}

@media screen and (max-width: 740px) {
  .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
