.work-container {
  margin: 1.3rem;
}

.project-heading {
  text-align: center;
  padding: 0 0 1.5rem 0;
}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  text-align: center;
}

.project-card img {
  width: 100%;
  min-height: 170px;
}

.project-btns {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
}

.show-more {
  color: #007bff;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  text-align: right;
  line-height: 2;
  width: 100%;
}

.show-more:hover {
  color: #0056b3;
}
